workflows/captacion-leads-habitaciones.json
{"name": "Captaci\u00f3n de Leads \u2014 Habitaciones", "nodes": [{"parameters": {"httpMethod": "POST", "path": "leads-habitaciones", "responseMode": "responseNode", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 300], "id": "node-webhook-001", "name": "Formulario Lead", "webhookId": "568def22-61fc-4c65-bf55-f5270b8552d0"}, {"parameters": {"assignments": {"assignments": [{"id": "f001", "name": "nombre", "value": "={{ $json.body.nombre ?? '' }}", "type": "string"}, {"id": "f002", "name": "email", "value": "={{ $json.body.email ?? '' }}", "type": "string"}, {"id": "f003", "name": "telefono", "value": "={{ $json.body.telefono ?? '' }}", "type": "string"}, {"id": "f004", "name": "perfil", "value": "={{ $json.body.perfil ?? 'No especificado' }}", "type": "string"}, {"id": "f005", "name": "fechaEntrada", "value": "={{ $json.body.fechaEntrada ?? '' }}", "type": "string"}, {"id": "f006", "name": "habitacion", "value": "={{ $json.body.habitacion ?? '' }}", "type": "string"}, {"id": "f007", "name": "mensaje", "value": "={{ $json.body.mensaje ?? '' }}", "type": "string"}, {"id": "f008", "name": "fechaRegistro", "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}", "type": "string"}, {"id": "f009", "name": "estado", "value": "Nuevo", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [240, 300], "id": "node-set-001", "name": "Normalizar Datos"}, {"parameters": {"operation": "create", "base": {"__rl": true, "value": "PENDIENTE_BASE_ID", "mode": "id"}, "table": {"__rl": true, "value": "PENDIENTE_TABLE_ID", "mode": "id"}, "columns": {"mappingMode": "defineBelow", "value": {"Fecha": "={{ $json.fechaRegistro }}", "Nombre": "={{ $json.nombre }}", "Email": "={{ $json.email }}", "Telefono": "={{ $json.telefono }}", "Perfil": "={{ $json.perfil }}", "Fecha Entrada": "={{ $json.fechaEntrada }}", "Habitacion": "={{ $json.habitacion }}", "Mensaje": "={{ $json.mensaje }}", "Estado": "={{ $json.estado }}"}, "matchingColumns": [], "schema": []}, "options": {}}, "type": "n8n-nodes-base.airtable", "typeVersion": 2.1, "position": [480, 300], "id": "node-airtable-001", "name": "Guardar en Airtable", "continueOnFail": true}, {"parameters": {"fromEmail": "notificaciones@habitaciones.com", "toEmail": "jgainza7@gmail.com", "subject": "=Nuevo lead: {{ $('Normalizar Datos').item.json.nombre }} ({{ $('Normalizar Datos').item.json.perfil }})", "emailType": "html", "message": "=<h2 style=\"color:#1d4ed8\">Nuevo interesado en habitaci\u00f3n</h2><table style=\"border-collapse:collapse;width:100%;font-family:sans-serif\"><tr style=\"background:#f1f5f9\"><td style=\"padding:10px;border:1px solid #cbd5e1\"><strong>Nombre</strong></td><td style=\"padding:10px;border:1px solid #cbd5e1\">{{ $('Normalizar Datos').item.json.nombre }}</td></tr><tr><td style=\"padding:10px;border:1px solid #cbd5e1\"><strong>Email</strong></td><td style=\"padding:10px;border:1px solid #cbd5e1\">{{ $('Normalizar Datos').item.json.email }}</td></tr><tr style=\"background:#f1f5f9\"><td style=\"padding:10px;border:1px solid #cbd5e1\"><strong>Tel\u00e9fono</strong></td><td style=\"padding:10px;border:1px solid #cbd5e1\">{{ $('Normalizar Datos').item.json.telefono }}</td></tr><tr><td style=\"padding:10px;border:1px solid #cbd5e1\"><strong>Perfil</strong></td><td style=\"padding:10px;border:1px solid #cbd5e1\">{{ $('Normalizar Datos').item.json.perfil }}</td></tr><tr style=\"background:#f1f5f9\"><td style=\"padding:10px;border:1px solid #cbd5e1\"><strong>Fecha entrada</strong></td><td style=\"padding:10px;border:1px solid #cbd5e1\">{{ $('Normalizar Datos').item.json.fechaEntrada }}</td></tr><tr><td style=\"padding:10px;border:1px solid #cbd5e1\"><strong>Habitaci\u00f3n</strong></td><td style=\"padding:10px;border:1px solid #cbd5e1\">{{ $('Normalizar Datos').item.json.habitacion }}</td></tr><tr style=\"background:#f1f5f9\"><td style=\"padding:10px;border:1px solid #cbd5e1\"><strong>Mensaje</strong></td><td style=\"padding:10px;border:1px solid #cbd5e1\">{{ $('Normalizar Datos').item.json.mensaje }}</td></tr><tr><td style=\"padding:10px;border:1px solid #cbd5e1\"><strong>Recibido</strong></td><td style=\"padding:10px;border:1px solid #cbd5e1\">{{ $('Normalizar Datos').item.json.fechaRegistro }}</td></tr></table>", "options": {}}, "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [720, 300], "id": "node-email-001", "name": "Notificaci\u00f3n a Manu", "continueOnFail": true, "webhookId": "6941b5ca-aa09-4ae6-8268-6b5d3d2317cd"}, {"parameters": {"respondWith": "json", "responseBody": "{\"success\":true,\"message\":\"Solicitud recibida. Nos pondremos en contacto contigo pronto.\"}", "options": {"responseCode": 200}}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [960, 300], "id": "node-respond-001", "name": "Respuesta al Formulario"}], "connections": {"Formulario Lead": {"main": [[{"node": "Normalizar Datos", "type": "main", "index": 0}]]}, "Normalizar Datos": {"main": [[{"node": "Guardar en Airtable", "type": "main", "index": 0}]]}, "Notificaci\u00f3n a Manu": {"main": [[{"node": "Respuesta al Formulario", "type": "main", "index": 0}]]}, "Guardar en Airtable": {"main": [[{"node": "Notificaci\u00f3n a Manu", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true}}